<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema Empresa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>

    <div class="container">
        <h1>Sistema da Empresa</h1>

        <div class="menu">
            <ul>
                <li><a href="/colaboradores">Colaboradores</a></li>
                <li><a href="/departamentos">Departamentos</a></li>
            </ul>
        </div>
    </div>

</body>
</html>
